footer#footer
    .social
        each item in social
            a(
                class="fa-brands " + item.icon 
                href=item['link'] 
                target="_blank"
            )
            
    p #{autor} - v#{version} | Todos los derechos reservados
script(src="/scripts/index.js")