<article class="card m-3">
    <h3 class="card-header">{{posts.postTitle}}</h3>
    <div class="card-body">
        <p>{{posts.description}}</p>
        <ul>
            <li>{{posts.product}}</li>
            <li>{{posts.price}}</li>
            <li>{{posts.stock}}</li>
            <li>{{posts.user}}</li>
        </ul>
        <p> Publicado en 
            {{posts.postDate}} 
            por <a href="users/{{posts.user}}" class="btn btn-link px-1">{{posts.user}}</a>
        </p>
        <ul class="d-flex flex-wrap">
            {{#each posts.categories}}
                <a class="badge rounded-pill bg-primary" href="/posts/categories/{{this}}">{{this}}</a>
            {{/each}}
        </ul>
    </div>            
    <footer class="card-footer">
        <form class="row col-md-6 col-lg-4 | mx-auto" action="/posts/{{posts.postId}}/comments" method="post">
            <input class="form-control" type="text">
            <textarea class="form-control" name="" id="" cols="30" rows="10"></textarea>
            <button class="btn btn-primary">Comentar</button>
        </form>
        {{#each posts.comments}}
        <div>
            <h4>{{posts.author}}</h4>
            <p>{{posts.body}}</p>
        </div>
        {{/each}}
    </footer>
</article>