article 
    h3 #{post.title}
    <img #{img}/>
    ul 
        each d in post.description
            li=d
    div
        h4 Comentarios
        each comment in post.comments
            p   #{comment.body}
                br
                strong #{comment.author}