<!DOCTYPE html>
<html lang="en">
{{!-- Importacion de plantillas parciales --}}
{{>head}}
<body>
    {{>nav}}
    {{>header}}
    <main>
        {{!-- Utilizacion de Variables --}}
        <h2>{{title}}</h2>
        <p>{{description}}</p>
        {{!-- Implementacion de Condicionales --}}	
        {{#if user}}
            <section>
                <h2>{{user.name}}</h2>
                <p>{{user.email}}</p>
            </section>
        {{else if posts }}
            {{#each posts}}
                <article>
                    <h2>{{this.title}}</h2>
                    <p>{{this.description}}</p>
                    <footer>
                        <ul>
                        {{#each this.comments}}
                            <strong>{{this.author}}</strong>
                            <span>{{this.body}}</span>
                        {{/each}}
                        </ul>
                    </footer>
                </article>
            {{/each}}
        {{else}}
            <p>No se encontraron elementos</p>
        {{/if}}
        {{!-- Iteracion --}}
    </main>
    {{>footer}}
</body>
</html>