<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{App}}</title>
</head>
<body>
    <header>

    </header>
    <main>
        <h2>{{Title}}</h2>
        {{#each posts}}
        <article>
            <h3>{{this.postTitle}}</h3>
            <p>{{this.description}}</p>
            <ul>
                <li>{{this.product}}</li>
                <li>{{this.price}}</li>
                <li>{{this.stock}}</li>
                <li>{{this.user}}</li>
            </ul>
            <p>Publicado el {{this.postDate}}</p>
            <ul class="d-flex flex-wrap">
                {{#each this.categories}}
                    <li class="badge rounded-pill">{{this}}</li>
                {{/each}}
            </ul>            
            <footer>
                <form action="/posts/comments" method="POST">
                    <input type="text">
                    <textarea name="" id="" cols="30" rows="10"></textarea>
                    <button>Comentar</button>
                </form>
                {{#each this.comments}}
                <div>
                    <h4>{{this.author}}</h4>
                    <p>{{this.body}}</p>
                </div>
                {{/each}}
            </footer>
        </article>
        {{/each}}
    </main>
    <footer>

    </footer>
</body>
</html>